.navbar {
  width: 100%;
  padding: 15px 30px;
  background: rgba(70, 69, 69, 0.219);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255,255,255,0.175);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.navbar .logo {
  font-size: 22px;
  font-weight: 700;
  color: #0a4db1;
  text-decoration: none;
}

.navbar .admin-profile img {
  width: 40px;       
  height: 40px;
  border-radius: 50%; 
  border: 2px solid #0a4db1;
  object-fit: cover;  
  transition: 0.3s;
  cursor: pointer;
  margin-right: 100px;
}

.navbar .admin-profile img:hover {
  transform: scale(1.1); 
  border-color: #1565c0;
}
